:root {
	--foreground-img-size: 35%;
}

.animated-background {
	margin: 2.5%;
	margin-top: 7%;
	width: 75vw;
	height: 75vh;
	perspective: 1000px;
	transform-style: preserve-3d;
	animation: image-shift 10s 0.5s infinite alternate;
	animation-timing-function: linear;
}

.animated-background img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.floating-image {
	position: absolute;

	width: var(--foreground-img-size);
	height: var(--foreground-img-size);
}

.foregroundCoding {
	top: 6%;
	left: 9%;
	transform: translateZ(50px);
}

.computer {
	top: 24%;
	left: 23%;
	transform: translateZ(110px);
}

.analysis {
	top: 55%;
	left: 35%;
	transform: translateZ(75px);
}

@keyframes image-shift {
	0% {
		transform: rotateX(25deg) rotateY(55deg) rotateZ(-15deg)
			translateZ(100px);
	}
	100% {
		transform: rotateY(0deg) translateZ(-100px);
	}
}
