:root {
	--foreground-img-size: 35%;
}

.animated-background {
	margin: 2.5%;
	width: 75vw;
	height: 75vh;
	perspective: 1000px;
	animation: image-shift 5s 0.5s infinite alternate;
}

.animated-background img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.floating-image {
	position: absolute;
	top: 6%;
	left: 5%;
	transform: translateX(10%);
	transform: translateX(10%) translateZ(50px);
	width: var(--foreground-img-size);
	height: var(--foreground-img-size);
}

@keyframes image-shift {
	0% {
		transform: rotateX(0deg);
		transform: rotateY(0deg);
		transform: rotateZ(0deg);
		transform: translateZ(0px);
		transform: translateX(0px);
	}
	25% {
		transform: rotateY(50deg) translateZ(100px);
	}
	50% {
		transform: rotateY(0deg) translateZ(-100px);
	}
	75% {
		transform: rotateY(-50deg) translateZ(-100px);
	}
	100% {
		transform: rotateX(0deg);
		transform: rotateY(0deg);
		transform: rotateZ(0deg);
		transform: translateZ(100px);
	}
}
