.nav-wrapper {
	float: right;
	padding-right: 20px;
}

nav {
	background-color: #0e032b; /* Set the background for the nav */
	padding: 1px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.nav-link {
	font-size: 1.25rem;
	font-weight: 800;
	text-decoration: none;
	display: block;
	margin-top: 4px;
	padding: 1px;
	margin-bottom: 4px;
	margin-left: 5px;
	min-height: 25px;
	min-width: 85px;
	border-radius: 12%;
	color: #001455;
	background-color: #fff;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(129, 15, 182);
}

.nav-link:hover {
	margin-left: 4px;
	border-radius: 10%;
	color: #2b0557;
	border-width: 5px;
	border-color: rgb(9, 146, 39);
}

.menu-toggle {
	position: sticky;
	margin-top: 10px;
	min-width: 50px;
	height: 30px;
	color: rgb(4, 36, 58);
	font-size: 1.25rem;
	font-weight: bold;
	background-color: #fff;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(15, 93, 182);
}

.dropdown {
	position: relative;
}

.dropdown-list {
	list-style-type: none;
	background-color: transparent;
	z-index: 1000; /* Make sure the dropdown appears above other elements */
}

.dropdown-list li {
	padding: 10px 15px; /* Padding for each item */
}

/* display a different Nav depending on screen size*/
@media (max-width: 540px) {
	.nav-large {
		display: none;
	}
}

@media (min-width: 541px) {
	.nav-small {
		display: none;
	}
	.menu-toggle {
		display: none;
	}
}
