nav > button {
	font-weight: 600;
	margin-left: 4px;
	border-radius: 10%;
	color: #001455;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(52, 8, 134);
}

nav > button:hover {
	font-weight: 600;
	margin-left: 4px;
	border-radius: 10%;
	color: #2b0557;
	border-color: rgb(9, 146, 39);
}
