:root {
	--leftMoveInside: -64px;
	--rightMarginForToggle: 6px;
}

.nav-wrapper {
	float: right;
	padding-right: 20px;
}

nav {
	padding: 1px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	background-color: #0e032b;
}

.nav-large {
	margin-right: 5px;
}

.nav-link {
	font-size: 1.25rem;
	font-weight: 800;
	text-decoration: none;
	display: block;
	margin-top: 4px;
	padding: 1px;
	margin-bottom: 4px;
	margin-left: 5px;
	min-height: 25px;
	min-width: 85px;
	border-radius: 12%;
	color: #001455;
	background-color: #fff;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(129, 15, 182);
}

.nav-link:hover {
	margin-left: 4px;
	border-radius: 10%;
	color: #2b0557;
	border-width: 5px;
	border-color: rgb(9, 146, 39);
}

.menu-toggle {
	position: sticky;
	margin-top: 12px;
	margin-right: var(--rightMarginForToggle);
	min-width: 50px;
	height: 30px;
	color: rgb(4, 36, 58);
	font-size: 1.25rem;
	font-weight: bold;
	background-color: #fff;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(15, 93, 182);
}

.dropdown {
	position: fixed;
}

/* negative to margin left is given to keep INSIDE screen*/
.dropdown-list {
	float: right;
	list-style-type: none;
	background-color: transparent;
	z-index: 10;
	margin-left: calc(var(--leftMoveInside) + var(--rightMarginForToggle));
}

.dropdown-list li {
	float: right;
	padding: 10px 15px;
}

/* display a different Nav depending on screen size*/
@media (max-width: 575px) {
	.nav-large {
		display: none;
	}
}

@media (min-width: 576px) {
	.nav-small {
		display: none;
	}
	.menu-toggle {
		display: none;
	}
}
