#root {
	font-family: "Courier New", Courier, monospace;
}

body {
	padding: 2px;
	margin: 2px;
	text-align: left;
	vertical-align: text-top;
	font-family: "Courier New", Courier, monospace;
	font-size: 1rem;
	color: "#ffff";
	background-color: rgb(28, 3, 49);
}
