#root {
	font-family: "Courier New", Courier, monospace;
}

body {
	padding: 2px;
	margin: 2px;
	text-align: left;
	vertical-align: text-top;
	font-family: "Courier New", Courier, monospace;
	font-size: 1rem;
	color: "#ffff";
	background-color: rgb(28, 3, 49);
}

.page-top {
	position: relative; /* Establishes a positioning context for the pseudo-element */
	width: 99.5vw;
	padding-left: 5px;
	background-color: #0e032b;
	z-index: 10;
}

.page-top::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: lighten;
	background-image: url("../src/assets/images/background/circuit-board-cut.png");
	opacity: 0.185;
	z-index: -1;
}

.page-rest {
	position: relative;
	height: 97.5vh;
	z-index: 10;
}

.page-rest:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: lighten;
	background-image: url("../src/assets/images/background/matrix.jpg");
	opacity: 0.12;
	z-index: -1;
}

/* pseudo element as bottom border */
.divide::before {
	content: "";
	position: absolute;
	margin: 0;
	left: 10px;
	right: 10px;
	height: 2px;
	background-color: #5f5f5f;
}

.main-content {
	margin-top: 9px;
}
