:root {
	font-family: "Courier New", Courier, monospace;
	line-height: 1.15;

	font-weight: 400;
	color: rgba(255, 255, 255, 0.945);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	min-height: 99vh;
}

header {
	font-size: 2rem;
	text-align: center;
}

footer {
	font-size: 0.6rem;
	text-align: center;
}
